/* burger button animation */
.burger-container{
    display: none;
    height: 50px;
    width: 100%;
    padding: 0 25px;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background: #304340;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.burger{
    height: 26px;
    width: 32px;
    display: none;
    flex-direction: column;
    background: transparent;
    cursor: pointer;
    border: none;
}
.burger--line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
}
.burger--line1{
    transform: rotate(0deg);
    transform-origin: 0% 0%;
    transition: transform 0.2s;
}
.burger--line2{
    opacity: 1;
    transition: opacity 0.2s;
}
.burger--line3{
    transform: rotate(0deg);
    transform-origin: 0% 100%;
    transition: transform 0.2s;
}
/* burger active */
.burger.active  .burger--line1{
    transform: rotate(47deg);
}
.burger.active .burger--line2{
    opacity: 0;
}
.burger.active .burger--line3{
    transform: rotate(-47deg);
}
@media (max-width: 992px) {
    .burger-container{
        display: flex;
    }
    .burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}